**Importing liberaries**

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
import matplotlib as mpl
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

**Reading CSv data file**

In [12]:
df=pd.read_csv("players_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23194 entries, 0 to 23193
Data columns (total 55 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 23194 non-null  int64
 1   name                       23194 non-null  object
 2   team                       23194 non-null  object
 3   xP                         23194 non-null  float64
 4   assists                    23194 non-null  int64
 5   bonus                      23194 non-null  int64
 6   bps                        23194 non-null  float64
 7   clean_sheets               23194 non-null  int64
 8   creativity                 23194 non-null  float64
 9   element                    23194 non-null  float64
 10  fixture                    23194 non-null  float64
 11  goals_conceded             23194 non-null  int64
 12  goals_scored               23194 non-null  int64
 13  ict_index                  23194 non-null  float64
 14  influence                  23194 non-null  float64
 15  minutes                    23194 non-null  int64
 16  opponent_team              23194 non-null  int64
 17  own_goals                  23194 non-null  int64
 18  penalties_missed           23194 non-null  int64
 19  penalties_saved            23194 non-null  int64
 20  red_cards                  23194 non-null  int64
 21  round                      23194 non-null  int64
 22  saves                      23194 non-null  int64
 23  selected                   23194 non-null  float64
 24  team_a_score               23194 non-null  int64
 25  team_h_score               23194 non-null  int64
 26  threat                     23194 non-null  float64
 27  total_points               23194 non-null  int64
 28  transfers_balance          23194 non-null  float64
 29  transfers_in               23194 non-null  float64
 30  transfers_out              23194 non-null  float64
 31  value                      23194 non-null  int64
 32  was_home                   23194 non-null  int64
 33  yellow_cards               23194 non-null  int64
 34  GW                         23194 non-null  int64
 35  opp_strength               23194 non-null  float64
 36  opp_strength_overall_home  23194 non-null  float64
 37  opp_strength_overall_away  23194 non-null  float64
 38  opp_strength_attack_home   23194 non-null  float64
 39  opp_strength_attack_away   23194 non-null  float64
 40  opp_strength_defence_home  23194 non-null  float64
 41  opp_strength_defence_away  23194 non-null  float64
 42  strength                   23194 non-null  float64
 43  strength_overall_home      23194 non-null  float64
 44  strength_overall_away      23194 non-null  float64
 45  strength_attack_home       23194 non-null  float64
 46  strength_attack_away       23194 non-null  float64
 47  strength_defence_home      23194 non-null  float64
 48  strength_defence_away      23194 non-null  float64
 49  cat_pos                    23194 non-null  object
 50  position_DEF               23194 non-null  int64
 51  position_FWD               23194 non-null  int64
 52  position_GK                23194 non-null  int64
 53  position_GKP               23194 non-null  int64
 54  position_MID               23194 non-null  int64
dtypes: float64(26), int64(26), object(3)
memory usage: 9.7+ MB

**Spliting data to features and target and drop useless features**

In [13]:
feature = df.drop(['Unnamed: 0','total_points', "team","GW","round"],axis = 1)
target = df['total_points']

**Spliting data to train and test data**

In [14]:
X_train, X_test, y_train, y_test = train_test_split(feature, target, test_size=0.20, random_state=0)

In [15]:
X_train_name_value_pos=X_train[["name","value","cat_pos"]]
X_test_name_value_pos=X_test[["name","value","cat_pos"]]

In [16]:
X_train.drop(["name","value","cat_pos"],axis=1,inplace=True)
X_test.drop(["name","value","cat_pos"],axis=1,inplace=True)

In [17]:
from sklearn.linear_model import LinearRegression
lin = LinearRegression()
lin.fit(X_train, y_train)

LinearRegression()

In [19]:
predect = lin.predict(X_test)

In [20]:
print("Intercept: ", lin.intercept_)
print("Coefficients:")
list(zip(feature, lin.coef_))

Intercept:  -0.12510652564871294
Coefficients:

[('name', 0.14117403615316015),
 ('xP', 0.48629348996647104),
 ('assists', -0.05588435723264114),
 ('bonus', 0.21838250036321055),
 ('bps', 0.03682197993372636),
 ('clean_sheets', 0.7838548646202085),
 ('creativity', -0.05794392467353813),
 ('element', -0.03263839850732591),
 ('fixture', -0.08080380253602346),
 ('goals_conceded', 1.079949235771406),
 ('goals_scored', -2.197724468309756),
 ('ict_index', 0.6045656357958669),
 ('influence', 0.02146155502883375),
 ('minutes', 0.0007952610398196889),
 ('opponent_team', -0.27446182433143895),
 ('own_goals', -0.38586411463346576),
 ('penalties_missed', 1.670765640267483),
 ('penalties_saved', -1.206756728160315),
 ('red_cards', 0.21860584801262412),
 ('saves', 0.17793607340097395),
 ('selected', 0.017583817780794764),
 ('team_a_score', -0.0014669631479356266),
 ('team_h_score', 0.08475195538829579),
 ('threat', -2.8255699672959995),
 ('transfers_balance', 2.3997021173347184),
 ('transfers_in', -2.0667250531462633),
 ('transfers_out', -0.08734061680084304),
 ('value', -0.102799648523585),
 ('was_home', -0.0003302277571518698),
 ('yellow_cards', -0.0013511870967683657),
 ('opp_strength', 0.0825841915797867),
 ('opp_strength_overall_home', -0.08650318103102636),
 ('opp_strength_overall_away', 0.20532156775426677),
 ('opp_strength_attack_home', 0.061301727686265094),
 ('opp_strength_attack_away', -0.14876610024027298),
 ('opp_strength_defence_home', 0.04198534296470205),
 ('opp_strength_defence_away', -0.1048239929280086),
 ('strength', 0.08143775250396344),
 ('strength_overall_home', -0.00831430076686153),
 ('strength_overall_away', 0.07716515531824647),
 ('strength_attack_home', -0.0779545161982216),
 ('strength_attack_away', 0.09250276157600341),
 ('strength_defence_home', 0.07572836936283249),
 ('strength_defence_away', 0.11272409274456228),
 ('cat_pos', -0.065011565847963),
 ('position_DEF', -0.29082647070141787),
 ('position_FWD', 0.1673855744063481)]

In [21]:
mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': predect})
mlr_diff.head(10)

       Actual value  Predicted value
4026              0         0.289454
5453              2         2.295080
22934             2         2.645883
22608             0         0.195179
438               0         0.360857
10568             1         0.385368
19825             6         1.798298
6033              1         0.306421
4194              0         0.468132
10220             0         0.282890

In [22]:
import sklearn.metrics as sm
print("Mean absolute error =", round(sm.mean_absolute_error(y_test, predect), 2)) 
print("Mean squared error =", round(sm.mean_squared_error(y_test, predect), 2)) 
print("Median absolute error =", round(sm.median_absolute_error(y_test, predect), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(y_test, predect), 2)) 
print("R2 score =", round(sm.r2_score(y_test, predect), 2))

Mean absolute error = 1.13
Mean squared error = 4.18
Median absolute error = 0.48
Explain variance score = 0.29
R2 score = 0.29

In [26]:
points_result = pd.DataFrame({"player name":X_test_name_value_pos["name"],
                              'Actual point': y_test, 
                              'Predicted point': predect,
                              "player value":X_test_name_value_pos['value'],"position":X_test_name_value_pos["cat_pos"]})
points_result.to_csv("points_result_john.csv")