**Imported packages**

In [174]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf

In [175]:
df=pd.read_csv("/content/results.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8289 entries, 0 to 8288
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    8289 non-null   object
 1   DateTime  8289 non-null   object
 2   HomeTeam  8289 non-null   object
 3   AwayTeam  8289 non-null   object
 4   FTHG      8289 non-null   int64
 5   FTAG      8289 non-null   int64
 6   FTR       8289 non-null   object
 7   HTHG      8289 non-null   int64
 8   HTAG      8289 non-null   int64
 9   HTR       8289 non-null   object
 10  Referee   8289 non-null   object
 11  HS        8289 non-null   int64
 12  AS        8289 non-null   int64
 13  HST       8289 non-null   int64
 14  AST       8289 non-null   int64
 15  HC        8289 non-null   int64
 16  AC        8289 non-null   int64
 17  HF        8289 non-null   int64
 18  AF        8289 non-null   int64
 19  HY        8289 non-null   int64
 20  AY        8289 non-null   int64
 21  HR        8289 non-null   int64
 22  AR        8289 non-null   int64
dtypes: int64(16), object(7)
memory usage: 1.5+ MB

In [176]:
df

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2000-01,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,2,0,H,...,14,4,6,6,13,12,1,2,0,0
1,2000-01,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1,0,H,...,10,5,7,7,19,14,1,2,0,0
2,2000-01,2000-08-19T00:00:00Z,Coventry,Middlesbrough,1,3,A,1,1,D,...,3,9,8,4,15,21,5,3,1,0
3,2000-01,2000-08-19T00:00:00Z,Derby,Southampton,2,2,D,1,2,A,...,4,6,5,8,11,13,1,1,0,0
4,2000-01,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,2,0,H,...,8,6,6,4,21,20,1,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8284,2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0,1,A,...,8,5,9,3,12,14,2,3,0,0
8285,2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0,0,D,...,7,1,4,6,2,6,0,1,0,0
8286,2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2,0,H,...,3,3,3,4,11,12,1,1,0,0
8287,2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1,0,H,...,6,4,6,7,12,10,1,1,0,0
8288,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2,1,H,...,5,4,4,1,9,11,1,4,0,0

# Data Preprocessing

 **drop unwanted column**

In [177]:
df.drop(['Referee',"DateTime"], axis = 1, inplace = True)

 **sort data**

In [178]:
df2=df.sort_values(by=['HomeTeam',"AwayTeam"])

In [179]:
df2 = df2.reset_index(drop=True)

In [180]:
df2

,Season,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2000-01,Arsenal,Aston Villa,1,0,H,0,0,D,16,...,10,3,7,4,12,20,1,4,0,1
1,2001-02,Arsenal,Aston Villa,3,2,H,0,2,A,15,...,8,5,9,3,18,14,4,0,0,0
2,2002-03,Arsenal,Aston Villa,3,1,H,1,0,H,13,...,7,5,6,9,11,20,2,3,0,0
3,2003-04,Arsenal,Aston Villa,2,0,H,0,0,D,14,...,6,3,2,6,16,16,3,4,0,0
4,2004-05,Arsenal,Aston Villa,3,1,H,2,1,H,18,...,15,2,6,3,11,22,2,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8284,2020-21,Wolves,West Ham,2,3,A,1,3,A,20,...,5,6,4,2,9,9,1,4,0,0
8285,2021-22,Wolves,West Ham,1,0,H,0,0,D,15,...,5,3,7,3,6,9,1,1,0,0
8286,2009-10,Wolves,Wigan,0,2,A,0,0,D,9,...,4,14,4,3,14,16,4,3,1,1
8287,2010-11,Wolves,Wigan,1,2,A,0,2,A,8,...,4,8,7,3,7,14,1,3,0,0
8288,2011-12,Wolves,Wigan,3,1,H,1,1,D,13,...,12,7,5,6,11,13,2,1,0,0

In [181]:
df2.head()

,Season,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2000-01,Arsenal,Aston Villa,1,0,H,0,0,D,16,...,10,3,7,4,12,20,1,4,0,1
1,2001-02,Arsenal,Aston Villa,3,2,H,0,2,A,15,...,8,5,9,3,18,14,4,0,0,0
2,2002-03,Arsenal,Aston Villa,3,1,H,1,0,H,13,...,7,5,6,9,11,20,2,3,0,0
3,2003-04,Arsenal,Aston Villa,2,0,H,0,0,D,14,...,6,3,2,6,16,16,3,4,0,0
4,2004-05,Arsenal,Aston Villa,3,1,H,2,1,H,18,...,15,2,6,3,11,22,2,4,0,0

**Shift winner**

In [182]:
for i in range(1, len(df2)-1):
  if (df2.loc[i+1,"HomeTeam"] == df2.loc[i,"HomeTeam"]) and (df2.loc[i+1,"AwayTeam"]==df2.loc[i,"AwayTeam"]):
    df2.loc[i,"N_FTR"] = df2.loc[i+1,"FTR"]

In [183]:
df2

,Season,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,N_FTR
0,2000-01,Arsenal,Aston Villa,1,0,H,0,0,D,16,...,3,7,4,12,20,1,4,0,1,NaN
1,2001-02,Arsenal,Aston Villa,3,2,H,0,2,A,15,...,5,9,3,18,14,4,0,0,0,H
2,2002-03,Arsenal,Aston Villa,3,1,H,1,0,H,13,...,5,6,9,11,20,2,3,0,0,H
3,2003-04,Arsenal,Aston Villa,2,0,H,0,0,D,14,...,3,2,6,16,16,3,4,0,0,H
4,2004-05,Arsenal,Aston Villa,3,1,H,2,1,H,18,...,2,6,3,11,22,2,4,0,0,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8284,2020-21,Wolves,West Ham,2,3,A,1,3,A,20,...,6,4,2,9,9,1,4,0,0,H
8285,2021-22,Wolves,West Ham,1,0,H,0,0,D,15,...,3,7,3,6,9,1,1,0,0,NaN
8286,2009-10,Wolves,Wigan,0,2,A,0,0,D,9,...,14,4,3,14,16,4,3,1,1,A
8287,2010-11,Wolves,Wigan,1,2,A,0,2,A,8,...,8,7,3,7,14,1,3,0,0,H
8288,2011-12,Wolves,Wigan,3,1,H,1,1,D,13,...,7,5,6,11,13,2,1,0,0,NaN

In [184]:
df2=df2.dropna()

In [185]:
df2

,Season,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,N_FTR
1,2001-02,Arsenal,Aston Villa,3,2,H,0,2,A,15,...,5,9,3,18,14,4,0,0,0,H
2,2002-03,Arsenal,Aston Villa,3,1,H,1,0,H,13,...,5,6,9,11,20,2,3,0,0,H
3,2003-04,Arsenal,Aston Villa,2,0,H,0,0,D,14,...,3,2,6,16,16,3,4,0,0,H
4,2004-05,Arsenal,Aston Villa,3,1,H,2,1,H,18,...,2,6,3,11,22,2,4,0,0,H
5,2005-06,Arsenal,Aston Villa,5,0,H,2,0,H,20,...,4,8,8,9,11,0,1,0,0,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8282,2018-19,Wolves,West Ham,3,0,H,0,0,D,20,...,0,5,1,8,10,4,1,0,0,H
8283,2019-20,Wolves,West Ham,2,0,H,1,0,H,13,...,3,5,4,8,9,1,2,0,0,A
8284,2020-21,Wolves,West Ham,2,3,A,1,3,A,20,...,6,4,2,9,9,1,4,0,0,H
8286,2009-10,Wolves,Wigan,0,2,A,0,0,D,9,...,14,4,3,14,16,4,3,1,1,A
8287,2010-11,Wolves,Wigan,1,2,A,0,2,A,8,...,8,7,3,7,14,1,3,0,0,H

**label incoding for output**
2 -> home team is the winner
0 -> away team is the winner
1 -> Draw

In [186]:
label_encoder = LabelEncoder()
df2['FTR']= label_encoder.fit_transform(df2['FTR'])
df2['HTR']= label_encoder.fit_transform(df2['HTR'])
df2['N_FTR']= label_encoder.fit_transform(df2['N_FTR'])
df2['HTR'].unique()

<ipython-input-186-2532c920179f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['FTR']= label_encoder.fit_transform(df2['FTR'])
<ipython-input-186-2532c920179f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['HTR']= label_encoder.fit_transform(df2['HTR'])
<ipython-input-186-2532c920179f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['N_FTR']= label_encoder.fit_transform(df2['N_FTR'])

array([0, 2, 1])

In [187]:
df2.head()

,Season,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,N_FTR
1,2001-02,Arsenal,Aston Villa,3,2,2,0,2,0,15,...,5,9,3,18,14,4,0,0,0,2
2,2002-03,Arsenal,Aston Villa,3,1,2,1,0,2,13,...,5,6,9,11,20,2,3,0,0,2
3,2003-04,Arsenal,Aston Villa,2,0,2,0,0,1,14,...,3,2,6,16,16,3,4,0,0,2
4,2004-05,Arsenal,Aston Villa,3,1,2,2,1,2,18,...,2,6,3,11,22,2,4,0,0,2
5,2005-06,Arsenal,Aston Villa,5,0,2,2,0,2,20,...,4,8,8,9,11,0,1,0,0,1

**Encode**

**One hot incoding for some inputs**

In [188]:
df2 = pd.get_dummies(df2, columns = ['HomeTeam',"AwayTeam"])

In [189]:
df2.head()

,Season,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,...,AwayTeam_Southampton,AwayTeam_Stoke,AwayTeam_Sunderland,AwayTeam_Swansea,AwayTeam_Tottenham,AwayTeam_Watford,AwayTeam_West Brom,AwayTeam_West Ham,AwayTeam_Wigan,AwayTeam_Wolves
1,2001-02,3,2,2,0,2,0,15,8,8,...,0,0,0,0,0,0,0,0,0,0
2,2002-03,3,1,2,1,0,2,13,12,7,...,0,0,0,0,0,0,0,0,0,0
3,2003-04,2,0,2,0,0,1,14,6,6,...,0,0,0,0,0,0,0,0,0,0
4,2004-05,3,1,2,2,1,2,18,5,15,...,0,0,0,0,0,0,0,0,0,0
5,2005-06,5,0,2,2,0,2,20,9,16,...,0,0,0,0,0,0,0,0,0,0

**Save data frame in csv**

In [190]:
df2.to_csv("new_results.csv")

**Splitting data to feature and target**

In [191]:
feature=df2.drop(["Season","N_FTR"],axis = 1)
target=df2["N_FTR"]

**Spliting Data to train and test**

In [192]:
X_train, X_test, y_train, y_test = train_test_split(feature, target, test_size=0.20, random_state=0)